# PHP flags
php_flag    display_errors          1
php_flag    display_startup_errors  1
php_flag    log_errors              1
php_flag    register_globals        0
php_flag    short_open_tag          1

# PHP values
php_value   error_reporting     6135
php_value	memory_limit        100M
SetEnv TZ   UTC

# URL rewriting directives
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^kernel\/startup\.php$ - [L]
    RewriteRule .* /kernel/startup.php [L]
</IfModule>