._e_dump, 
._e_dump textarea, 
._e_dump input, 
._e_dump div, 
._e_dump p {
	font-size: 14px;
	font-family: Sans, Lucida Grande, Tahoma, Verdana, Helvetica, sans-serif;
	color: #333;
}
._e_dump {
	padding: 0 0 10px;
	margin: 0;
}
body._e_dump > h1 {
	margin: 0;
	font-size: 18px;
	color: white;
	border-bottom: 2px solid #000;
	background: #333;
	text-shadow: 2px 2px 1px #000;
	padding: 30px;
}
._e_dump > h1 > a:link, 
._e_dump > h1 > a, 
._e_dump > h1 > span {
	color: #fff;
	text-decoration: none;
	border: 2px solid transparent;
	border-radius: 4px;
	padding: 4px;
	margin: -4px 0;
	background: none;
}
._e_dump body > h1 > a:hover {
	background: #555;
	box-shadow: 0 0 3px #000;
	text-shadow: 1px 1px 1px #000;
}
._e_dump body > h1 > a:active {
	background: #555;
	box-shadow: inset 0 0 3px #000;
	text-shadow: 0 0 1px #000;
}
._e_dump a {
	color: #666;	
}
._e_dump .section {
	font-size: 15px;
	padding: 0 30px;
}
._e_dump.panel-page .section {
	padding: 0;
}
._e_dump .section .section {
	border-left: 30px solid #eee;
}
._e_dump h1 {
	font-size: 120%;
	margin: 30px 0 14px;
	color: black;
}
#-e-debug-panel ._e_dump h1 {
	margin: 0 0 14px;
}
._e_dump code, 
._e_dump .trace, 
._e_dump h4, 
._e_dump .key {
	padding: 2px 4px;
	margin: 0 2px;
	border-radius: 4px;
}
._e_dump h4 code {
	margin: 0 -4px;
}
._e_dump code {
	background: #fe8;
	text-shadow: 1px 1px 1px #ffa;
	font-family: Consolas, monospace;
}
._e_dump code.alt, 
._e_dump code.alt code {
	background:#237;	
	text-shadow: 1px 1px 1px #124;
	color: #fff;
}
._e_dump code.alt2, 
._e_dump code.alt2 code  {
	background:#732;	
	text-shadow: 1px 1px 1px #421;
	color: #fff;
}
._e_dump h4 {
	float: left;
	padding: 6px 10px;
	position: relative;
	top: 4px;
	font-size: 13px;
	box-shadow: inset 0 4px 10px #ccc;
	font-weight: bold;
}
._e_dump .reveal {
}

._e_dump .trace {
	clear: left;
	font-family: Consolas, monospace;
	box-shadow: inset 0 0 10px #ccc;
	margin-bottom: 20px;
}
._e_dump .trace, ._e_dump h4 {	
	text-shadow: 1px 1px 1px #fff;
	background: #eee;
}
._e_dump .trace > .step, 
._e_dump .trace > p, 
._e_dump .trace > textarea, 
._e_dump .trace > input {
	font-size: 13px;	
	margin: 8px;
}
._e_dump .trace > p {
	margin: 1em 8px;	
}
._e_dump .trace > div.pad-sides {
	padding: 0 8px;
	margin: 8px 0;
}
._e_dump .trace textarea {
	width: 100%;
	height: 12em;
	box-sizing: border-box;
	resize: none;
	padding: 8px;
	line-height: 1.6;
}
._e_dump .trace > input {
	margin: 0 8px 12px;
	padding: 8px 12px;
}
._e_dump .line, 
._e_dump .func, 
._e_dump .parens {
	font-weight: bold;
}
._e_dump .func, 
._e_dump .function 	{	color: darkblue;	}
._e_dump .array 		{	color: orange;		}
._e_dump .string 	{	color: green;		}
._e_dump .boolean 	{	color: orange;		}
._e_dump .number 	{	color: red;			}
._e_dump .object 	{	color: darkred;		}
._e_dump .class 		{	color: darkred;		}
._e_dump .line 		{	color: purple;		}
._e_dump .invisibles {
	color: gray; padding: 0 2px;
}
._e_dump h1 {clear: both;}
._e_dump .selected {
	padding: 2px 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
._e_dump .class.selected {
	background: darkred;
	color: white;
}
._e_dump .selected a {
	color: white;
	text-decoration: none;	
}
/* Environment Var style */

._e_dump .var {padding: 1em; margin: 0 -1px -1px 0; border: 1px solid #ddd; background: #f8f8f8; width: 25%; float: left;}
._e_dump .var label {width: 100px; float: left; padding: 8px 6px; color: #444; background: #ddd; border: 1px solid #bbb; font-size: 14px; font-weight: bold; text-align: right;}
._e_dump .var input, .var select {border: 1px solid #bbb; background: white; padding: 8px 6px; margin: 0 0 0 -1px; font-size: 14px;}
._e_dump .var h3 {margin-top: 0}
._e_dump .var a {text-decoration: none; cursor: pointer;}
._e_dump .var a:hover {text-decoration: underline; cursor: pointer;}
._e_dump .clear {clear:both; height: 1px; margin-top: -1px}

/* List Styles */
._e_dump table.list {
	border-collapse: collapse;
	width: 100%;
}
._e_dump table.list th {
	background: #eee;
	border: 1px solid #ccc;
	padding: 12px 6px;
}
._e_dump table.list td {
	border: 1px solid #eee;
	padding: 6px 6px;
	text-align: left;
	vertical-align: top;
}

/* General Styles */
._e_dump div.section table.style {
	border-collapse: collapse;
}
._e_dump div.section table.style th, ._e_dump div.section table.style td {
	border: 1px solid #888;
	padding: 5px 7px;
}
._e_dump div.section table.style th {
	background: #ddd;
}

/* Dump Styles */
._e_dump table.dump {
	border-collapse: collapse;
	width: 100%;
}
._e_dump table.dump td {
	padding: 4px 0;	
}
._e_dump table.dump td.dump-array {
	background: #f8f8f8;
	padding: 8px;
	border: 1px solid #ccc;
}
._e_dump table.dump td.dump-array td.dump-array {
	background: #fcfcfc;
}
._e_dump table.dump td.dump-array td.dump-array td.dump-array {
	background: #eee;
}
._e_dump table.dump td.dump-array td.dump-array td.dump-array td.dump-array {
	background: #f8f8f8;
}
._e_dump table.dump td.dump-key {
	padding: 4px 2px;
}
._e_dump .methods {
	margin-top: 1em;	
}
._e_dump .key { background: #e0e0e0; color: black;
	font-size: 12px;
	white-space: nowrap;
	text-shadow: 1px 1px 1px #fff; margin: 0 6px 0 0;
	padding: 1px 4px;}