body {
	margin: 10px 50px 10px 20px;	
}
.tokens > div {
	padding: 1px;
	float: left;
	position: relative;
	font-size: 12px;
	color: #000;
	height: 15px;
	background: #eee;
	margin: 50px 1px;
	font-family: monospace;
	white-space: nowrap;
}
.tokens > div > span {
	position: absolute;
	font-size: 9px;
	border-left: 1px solid #ccc;
	left: -1px;
}

/*Up*/
.tokens > div > .x1 {	
	top: -14px;
	padding: 0 3px 19px;
}
.tokens > div > .x3 {	
	top: -26px;
	padding: 0 3px 31px;
}
.tokens > div > .x5 {	
	top: -38px;
	padding: 0 3px 43px;
}

/*Down*/
.tokens > div > .x2 {	
	top: 0;
	padding: 18px 3px 0;
}
.tokens > div > .x4 {	
	top: 0;
	padding: 30px 3px 0;
}
.tokens > div > .x6 {	
	top: 0;
	padding: 42px 3px 0;
}

/* Styles */
.tokens > .blank {
	background: #fee;
	color: #fbb;
}
.tokens > .tag-start, .tokens > .tag-end-inside, .tokens > .tag-end-outside {
	background: #fff000;
	color: #885;
}
.tokens > .tag-open-name, .tokens > .tag-close-name {
	background: #fff999;
	color: #885;
}
.tokens > .tag-close, .tokens > .tag-end-close {
	background: #ffe999;
	color: #000;
}
.tokens > .tag-attr-quote, .tokens > .tag-attr-qend {
	background: #fbb;
	color: #855;
}
.tokens > .tag-attr-value {
	background: #fdd;
	color: #855;
}
.tokens > .tag-attr-name {
	background: #fed;
	color: #865;
}
.tokens > div > .newline {
	background: #def;
	color: #88f;
	padding: 1px 2px 0;
	margin: 0 1px;
}
.tokens > div > .tab {
	background: #dfe;
	color: #4d4;
	padding: 1px 20px 0;
	margin: 0 1px;
}
.tokens > div.clear {
	clear: left;
	padding: 1px 0;
	margin: 0;
}